:root {
    --primary-hue: 200deg;
    font-family: "Roboto Mono", Roboto, monospace;
    --primary-saturation: 30%;
}

.content {
  font-family: "Roboto Mono", Roboto, monospace;
}

/* .content { */
/*     font-family: "Roboto Mono", Roboto; */
/* } */
