{{/* The Apple Music iframe shortcode */}}
{{ $src := .Get "src" }}
{{ $format := .Get "format" | default "" }}
{{ $allow := "" }}
{{ $sandbox := "" }}
{{ $height := "" }}
{{ $opts := "" }}

{{ if eq $format "album" }}
    {{ $allow = "autoplay *; encrypted-media *; fullscreen *; clipboard-write" }}
    {{ $sandbox = "allow-same-origin allow-scripts allow-storage-access-by-user-activation" }}
    {{ $height = "450" }}
<div class="hx-mt-6 hx-mb-6">
    <iframe src="{{ $src }}" allow="{{ $allow }}" frameborder="0" height="{{ $height }}" style="width:100%;max-width:800px;overflow:hidden;border-radius:10px;" sandbox="{{ $sandbox }}">
    </iframe>
</div>
{{ end }}

{{ if eq $format "single" }}
    {{ $allow = "autoplay *; encrypted-media *; fullscreen *; clipboard-write" }}
    {{ $sandbox = "allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" }}
    {{ $height = "150"}}
<div class="hx-mt-6 hx-mb-6">
    <iframe src="{{ $src }}" allow="{{ $allow }}" frameborder="0" height="{{ $height }}" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;background:transparent;" sandbox="{{ $sandbox }}">
    </iframe>
</div>
{{ end }}

